.button
    background: #4EB3E3
    border-radius: 8px
    border: 1px solid #1f343e
    cursor: pointer
    font-size: 20px
    height: 64px
    width: 100%
    letter-spacing: 0px
    color: #ffffff
    margin-top: 0
    margin-bottom: 153px
    font-weight: bold
    @media screen and (max-width: 768px)
        height: 56px
        font-size: 16px
        margin-bottom: 71px
